*.iml
venv/
.DS_Store
target
.idea
*.rdb
bazel-*
*.swp
.gitconfig
yarn-error.log
.vscode/
.commit
.remote.cnf
*~

analytics-event-handler/src/main/resources/GeoLite2-Country.mmdb
python/analytics-py3/GeoLite2-Country.mmdb

api/bin/
.project
.factorypath
.classpath
.settings
.zat
.report.json
.fdk/
node_modules/


python/tools/output/**
python/tools/external_data_sync/scripts/metadata.json
analytics-event-handler/src/main/resources/GeoLite2-Country.tar.gz
customer-service-apps/attentive-freshdesk-app/dist/

coverage/
attentivevenv/
awsenv/

.python-version
